.container {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Savelogin Score Leaderboard"
    "Upgrades FISK Buildings"
    "achievements stats AD";
}

.FISK { grid-area: FISK; }

.Score { grid-area: Score; }

.Buildings { grid-area: Buildings; }

.Upgrades { grid-area: Upgrades; }

.stats { grid-area: stats; }

.Savelogin { grid-area: Savelogin; }

.achievements { grid-area: achievements; }

.Leaderboard { grid-area: Leaderboard; }

.AD { grid-area: AD; }