.container {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Savelogin Score Leaderboard"
    "Upgrades FISK Buildings"
    "achievements stats AD";
}

.FISK { grid-area: FISK; }

.Score { grid-area: Score; }

.Buildings { grid-area: Buildings; }

.Upgrades { grid-area: Upgrades; }

.stats { grid-area: stats; }

.Savelogin { grid-area: Savelogin; }

.achievements { grid-area: achievements; }

.Leaderboard { grid-area: Leaderboard; }

.AD { grid-area: AD; }

.container-log_and_reg{
  display: grid;
  grid-auto-columns: repeat(2);
  grid-auto-rows: repeat(2);
  grid-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  margin-left: 35%;
  margin-right: 90%;
  margin-top: 5%;
}

#loginshow{
  width: 150px;
  grid-column: 2;
  grid-row: 1;
}

#login {
  display: block;
  grid-column: 2;
  grid-row: 2;
}

#registershow{
  width: 150px;
  grid-column: 3;
  grid-row: 1;
}

#register {
  display: block;
  grid-column: 3;
  grid-row: 2;
}